$color-primary: #2E6F68;
$color-primary-light: #3C8F87;
$color-primary-darck: #28b485;
$color-primary-soft: #5dfcb1;
$color-grey-darck: #CBD5E4;
$color-white: #fff;
$color-black: #000;
$color-grai-light-1: #EE4B45;

$default-font-size: 1.6rem;